header,
.header nav {
  margin: auto;
  height: var(--header-height);
  background-color: #558000;
  color: var(--gray-25);
}

.header nav {
  display: grid;
  align-items: center;
  max-width: var(--site-width);
  padding: var(--spacing-m) var(--spacing-l);
}

.header a {
  color: inherit;
  text-decoration: none;
}
