footer,
.footer section {
  margin: auto;
  background-color: var(--gray-75);
}

.footer section {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr min-content;
  max-width: var(--site-width);
  padding: var(--spacing-m) var(--spacing-l);
}

.footer a {
  text-decoration: none;
}

.footer p,
.footer .button-wrapper {
  margin: 0;
}

/* links */
.footer .footer-links .button {
  border-radius: 50%;
  padding: 1ch;
  line-height: 0;
  background-color: #690;
  transition: background-color 0.2s, transform 0.2s;
}

.footer .footer-links .button:hover {
  background-color: var(--text-color);
  transform: scale(1.1);
}
