:root {
  /* border width */
  --border-l: 4px;
  --border-m: 2px;
  --border-s: 1px; 

  /* rounding */
  --rounding-xl: 16px;
   --rounding-l: 10px;
   --rounding-m: 8px;
   --rounding-s: 4px;

  /* spacing */
  --spacing-xxs: 0.5rem;
  --spacing-xs:  0.75rem;
  --spacing-s:   1rem;
  --spacing-m:   1.5rem;
  --spacing-l:   2rem;
  --spacing-xl:  3rem;
}
