:root {
  /* font sizes */
  --font-size-100: 0.694rem;
  --font-size-200: 0.833rem;
  --font-size-300: 1rem;     /* p */
  --font-size-400: 1.2rem;   /* h6 */
  --font-size-500: 1.44rem;  /* h5 */
  --font-size-600: 1.728rem; /* h4 */
  --font-size-700: 2.074rem; /* h3 */
  --font-size-800: 2.488rem; /* h2 */
  --font-size-900: 2.986rem; /* h1 */

  /* headings */
  --heading-size-xl:  var(--font-size-900);
  --heading-size-l:   var(--font-size-800);
  --heading-size-m:   var(--font-size-700);
  --heading-size-s:   var(--font-size-600);
  --heading-size-xs:  var(--font-size-500);
  --heading-size-xxs: var(--font-size-400);

  /* body */
  --body-size-l:  var(--font-size-400);
  --body-size-m:  var(--font-size-300);
  --body-size-s:  var(--font-size-200);
  --body-size-xs: var(--font-size-100);

  /* line heights */
  --line-height-l: 1.5; /* body */
  --line-height-m: 1.25; /* headings */
  --line-height-s: 1;
}

@media (width >= 900px) {
  :root {
    /* font sizes */
    --font-size-100: 0.64rem;
    --font-size-200: 0.8rem;
    --font-size-400: 1.25rem;  /* h6 */
    --font-size-500: 1.563rem; /* h5 */
    --font-size-600: 1.953rem; /* h4 */
    --font-size-700: 2.441rem; /* h3 */
    --font-size-800: 3.052rem; /* h2 */
    --font-size-900: 3.815rem; /* h1 */
  }
}

html {
  font-size: 87.5%; /* 14px = 1rem */
}

@media (width >= 900px) {
  html {
    font-size: 100%; /* 16px = 1rem */
  }
}
